---
layout: default
title: "Lorenzo Shaikewitz"
title-id: main
---
<br>
<div class="row">
    <div class="col_left_home">
        <h2 class="center">Lorenzo Shaikewitz</h2>
        I am an incoming graduate student at MIT AeroAstro advised by <a href='https://lucacarlone.mit.edu/'>Prof. Luca Carlone</a>.
        Though my PhD is just beginning, I'm broadly interested in bridging the gap between navigation and interaction, enabling robots to work in human spaces.
        <br>
        <br>
        Previously, I was at Caltech (Mechanical Engineering & Controls, '23) advised by <a href='http://ames.caltech.edu'>Prof. Aaron Ames</a> and <a href="https://mce.caltech.edu/people/gunter">Prof. G&#252nter Niemeyer</a>.
        My undergraduate projects included a compliant ankle exoskeleton (with <a href='https://maegantucker.com'>Maegan Tucker</a> & Prof. Ames), 
        an in-mouth feeding robot (with <a href='https://dorsa.fyi/'>Prof. Dorsa Sadigh</a> at Stanford), 
        and a piano playing robot for ME 134 (with Prof. Niemeyer).
        <br><br>
        <div class="center"><a href="mailto:lorenzo@caltech.edu">email</a>&ensp;/&ensp;CV&ensp;/&ensp;<a href='https://github.com/lopenguin'>github</a>&ensp;/&ensp;<a href='https://www.youtube.com/@lorenzoshaikewitz/videos'>youtube</a></div>
        <!-- <br><a href='https://scholar.google.com/citations?user=BEWmPskAAAAJ&hl=en&oi=ao'>Google Scholar</a> -->
    </div>
    <div class="col_right_home">
        <img id="img_circle" src="assets/img/Lorenzo_Shaikewitz.png">
    </div>
</div>
<br><br>
<h3>Selected Projects</h3>

{% for post in site.posts %}
    {% if post.categories contains 'projects' %}
    <div class="row" style="margin-bottom:30px;">
        <div class="content_col_left">
            <img src={{post.thumbnail}}>
        </div>
        
        <div class="content_col_right">
            <div class="post-title">
                <b><a href="{{post.url}}" class="post">{{post.title}}</a></b> &ensp;// &ensp;{{post.date | date: "%B %Y" }}
            </div>

            {{ post.description }}
            
            <br>
        </div>
    </div>
    {% endif %}
{% endfor %}

<!-- WEBSITE NOTES -->
<!-- 1: add in piano robot -->
<!-- 2: add in senior thesis -->
<!-- 3: flesh out feeding project -->
<!-- 4: add in CV -->
<!-- 5: consider adding tabs for publications, etc. -->