---
layout: default
title: "Lorenzo Shaikewitz"
title-id: main
---
<br>
<div class="row">
    <div class="col_left_home">
        <h2 class="center">Lorenzo Shaikewitz</h2>
        I am a Caltech senior (class of 2023) studying mechanical engineering with a minor in controls. 
        I'm interested in how robots interact with people and the spaces we create. 
        I work in <a href='http://www.bipedalrobotics.com/'>AMBER Lab</a> on the design and control of a soft ankle exoskeleton.
        <br>
        <br>
        For the summer, I am working with <a href='https://dorsa.fyi/'>Prof. Dorsa Sadigh</a> at Stanford using robotic manipulation for assitive feeding.
        <br><br>
        <div class="center"><a href="mailto:lorenzo@caltech.edu">email</a>&ensp;/&ensp;CV&ensp;/&ensp;<a href='https://github.com/lopenguin'>github</a></div>
    </div>
    <div class="col_right_home">
        <img id="img_circle" src="assets/img/Lorenzo_Shaikewitz.png">
    </div>
</div>
<br><br>
<h3>Selected Projects</h3>

{% for post in site.posts %}
    {% if post.categories contains 'projects' %}
    <div class="row" style="margin-bottom:30px;">
        <div class="content_col_left">
            <img src={{post.thumbnail}}>
        </div>
        
        <div class="content_col_right">
            <div class="post-title">
                <b><a href="{{post.url}}" class="post">{{post.title}}</a></b> &ensp;// &ensp;{{post.date | date: "%B %Y" }}
            </div>

            {{ post.description }}
            
            <br>
        </div>
    </div>
    {% endif %}
{% endfor %}