/* Heading Stuff */
.heading_img {
    border-radius: 3px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 25px 0 15px 0;
    float: right;
}

ul.navbar li {
    float: left;
    display: block;
    padding: 8px;
}

ul.navbar li a {
    text-decoration: none;
    text-align: center;
}

a.active {
    text-decoration: underline !important;
}

.header_left {
    float: left;
    width: 50%;
    padding: 0 0px;
}
.header_right {
    float: right;
    width: 40%;
    padding: 0 0px;
    text-align: right;
}
